<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="laco.projet1"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".TheApplication"
        android:icon="@drawable/logo"
        android:label="Pentodroid"
        android:screenOrientation="portrait"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:label=" Pentodroid"
            android:screenOrientation="portrait"
            android:logo="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screen2"
            android:label="Jeu"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Instructions"
            android:label="info"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Difficulty"
            android:label="aide"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".Resultats"
            android:label="Resultats"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>